@use '../abstracts/' as a;

.navbar {
  display: flex;
  justify-content: space-between;

  &__brand {
    display: flex;
    flex-direction: column;
    font-size: var(--brand-text-size);
    font-weight: var(--brand-text-weight);
    &--location {
      font-size: var(--brand-location-text-size);
      font-weight: var(--brand-location-text-weight);
      color: var(--brand-location-text-color);
    }
  }

  &__navlist {
    @include a.breakpoint(md, min) {
      display: flex;
      gap: var(--nav-link-gap);
    }
  }

  //   &__item {
  //   }

  &__link {
    font-size: var(--nav-link-text-size);
    font-weight: var(--nav-link-text-weight);
    text-transform: uppercase;
  }
}
