@use '../abstracts/' as a;

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      (rgba(0, 0, 0, var(--header-bg-fade-value))),
      (rgba(0, 0, 0, var(--header-bg-fade-value)))
    ),
    url('./assets/image-burger.jpg');
  background-size: cover;
  background-repeat: none;
  background-position: center;

  &__hero {
    flex: 1;
    width: var(--default-content-width);
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: start;
    justify-items: center;
    color: var(--header-text-color);
    line-height: 1.2;
    gap: var(--header-gap);
    grid-template-areas: 'title' 'subtext' 'image';
    text-align: center;

    @include a.breakpoint(md, min) {
      grid-template-areas: 'title image' 'subtext image' '. image';
      grid-template-rows: repeat(3, max-content);
      grid-template-columns: 3fr, 1fr;
      justify-items: start;
      text-align: left;
    }
  }

  &__title {
    grid-area: title;
    font-size: var(--header-title-text-size);
    font-weight: var(--header-title-text-weight);
  }

  &__subtext {
    grid-area: subtext;
    font-size: var(--header-subtext-text-size);
    font-weight: var(--header-subtext-text-weight);
  }

  &__image {
    grid-area: image;
    border-radius: var(--default-border-radius);
    width: 100%;
    box-shadow: var(--default-box-shadow);
  }
}
