@use '../abstracts/' as a;
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  font-size: 62.5%;
  // defaults
  --default-font-family: 'Ubuntu', sans-serif;
  --default-font-size: var(--fnt-sz-m);
  --default-font-weight: var(--fnt-wt-s);
  --default-box-shadow: hsla(0, 0%, 0%, 0.35) 0rem 0.5rem 1.5rem;
  --default-content-width: min(90%, 110rem);
  --default-border-radius: 0.8rem;
  // Head
  --header-bg-fade-value: 0.5;
  --header-text-color: var(--clr-white);
  --header-title-text-size: #{a.insertClamp(3, 5, 280, 1170)};
  --header-title-text-weight: var(--fnt-wt-xl);
  --header-subtext-text-size: var(--fnt-sz-l);
  --header-subtext-text-weight: var(--fnt-wt-l);
  --header-gap: 3rem;
  // Nav
  --nav-bg-clr: var(--clr-primary);
  --brand-text-size: var(--fnt-sz-xl);
  --brand-text-weight: var(--fnt-wt-xl);
  --brand-location-text-size: var(--fnt-sz-m);
  --brand-location-text-weight: var(--fnt-wt-xs);
  --brand-location-text-color: var(--clr-light-grey);

  --nav-link-text-size: var(--fnt-sz-m);
  --nav-link-text-weight: var(--fnt-wt-xs);
  --nav-link-text-color: ;
  --nav-link-gap: 4rem;

  --nav-padding: 2rem;
  --nav-icon-size: 2.5rem;
  --nav-icon-color: var(--nav-link-text-color);

  // sections generic
  --section-heading-text-size: var(--fnt-sz-xl);
  --section-heading-text-weight: var(--fnt-wt-x);

  // footer
  --footer-bg-clr: var(--clr-dark-grey);
  --footer-text-clr: var(--clr-white);

  // Text
  --fnt-sz-xxl: 5rem;
  --fnt-sz-xl: 4rem;
  --fnt-sz-l: 2rem;
  --fnt-sz-m: 1.6rem;
  --fnt-sz-s: 1.4rem;
  --fnt-sz-xs: 1.2rem;
  --fnt-wt-xs: 300;
  --fnt-wt-s: 400;
  --fnt-wt-m: 500;
  --fnt-wt-x: 600;
  --fnt-wt-xl: 700;

  // colors

  --clr-primary: hsl(180, 100%, 25%);
  --clr-secondary: hsl(32, 100%, 49%);
  --clr-white: hsl(0, 0%, 95%);
  --clr-dark-grey: hsl(0, 0%, 20%);
  --clr-light-grey: hsl(0, 0%, 40%);
}

body {
  font-family: var(--default-font-family);
  font-weight: var(--default-font-weight);
  font-size: var(--default-font-size);
  color: var(--clr-dark-grey);
  line-height: 1.9;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  min-height: 100vh;
}
